.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    color: black;
    z-index:1;
    width: 100vw;
    
}

.logoContainer{
    display: flex;
    position: relative;
    object-fit: contain;
    width: 25vw;
    height: 13vw;
    z-index: 1000;
}

.image{
    display: flex;
    position: relative;
    object-fit: contain;
}

.burger{
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
    padding: 2vw;
    padding-right: 4vw;
}

.bar{
    background-color: #081f49;
    width: 10vw;
    height: 1vw;
    border-radius: 2vw;
}

.menu{
    background-color: black; 
    z-index: 1; 
    position: absolute;
    width: 100vw;
    top: 0;
}

.responsiveMenu {
    position: absolute;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 36px;
    height: 75vh;
    width: 100vw;
    z-index: 10;
    color: black;
    top: 0;
    left: 0;
}

.links{
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: black;
    gap: 50px;
    z-index: 999;
}

.link {
    color: black;
}

.closei {
    display: flex;
    position: absolute;
    object-fit: contain;
    width: 7vw;
    height: 7vw;
    z-index: 1000;
    right: 0;
    margin: 5vw;
}

.closeimg {
    display: flex;
    position: relative;
    object-fit: contain;
}

@media screen and (max-width: 1920px) {
    .nav {
        display: none;
    }

    .menu {
        display: none;
    }
}


@media screen and (max-width: 640px) {
    .nav {
        display: flex;
    }
    .menu {
        display: flex;
    }
}